* {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: powderblue;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

h1 {
    text-align: center;
}

.tttboard {
    max-width:360px;
    margin: auto;
    overflow: visible;
}

.ttt3board {
    max-width:600px;
    margin: auto;
    overflow: visible;
}

.button {
    width: 116px;
    height: 116px;
    float: left;
    text-align:center;
    border: none;
    color: Black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 80px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
}

.button:hover {
    background-color: rgb(135, 196, 204);
  }

  .rbutton {
    background-color: lightgoldenrodyellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }